html{
  background-image: url(multimedia/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  flex-flow: row wrap;
  font: 400 15px Tahoma, sans-serif;
  color: white;
  font-size: 16px;
  line-height: 1.8;
  margin: 0 auto;
  max-width: 2000px;
  padding: 2em 2em 4em;
  text-align: justify;
}

main {
  padding-top: 0.5em;
}

h1,h2 {
  color:white;
  text-shadow: 2px 2px 2px lightslategray;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  text-align: left;
  font-size: 28px;
}

nav ul li {
  float: left;
}

nav li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 2px 6px;
  text-decoration: none;
  box-shadow: 2px 2px white;
  transition: all 0.2s linear;
  font-size: 18px;
}

nav ul li a:hover, nav ul li a:focus {
  transform: scale(1.04);
}

dl dt {
  margin-bottom: 10px;
  margin-top: 10px;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
  margin: 15px 0;
}

td, th {
  border: 1px solid white;
  padding: 4px 10px;
  text-align: center;
}

th {
  background: grey;
  color: white;
  font-weight: normal;
}

li, dt {
  padding: 10px;
  overflow: auto;
}
